body {
  margin: 0;
  padding: 0;
  background: #000;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar { 
  background: transparent;
  transition: all 0.75s;
}

::-webkit-scrollbar-thumb {
  background: #777;
}

.blue::-webkit-scrollbar-thumb {
  background: #22A;
}

.red::-webkit-scrollbar-thumb {
  background: #A22;
}

.app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  font: 25px "Century Gothic", Futura, sans-serif;
}
