.ban-block {
  width: 100%;
}

.ban-block-title {
  height: calc(20% - 2px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-style: solid;
  border-color: #000;
  border-width: 2px;
  font-size: 2.75vmin;
}

.ban-block-title.blue {
  color: #99F;
  background: #009;
  transition: background 0.75s;
  border-right-style: solid;
  border-color: #000;
  border-width: 2px;
}

.ban-block-title.blue.active-team {
  background: #00C;
}

.ban-block-title.red {
  color: #F99;
  background: #900;
  transition: background 0.75s;
  border-left-style: solid;
  border-color: #000;
  border-width: 2px;
}

.ban-block-title.red.active-team {
  background: #C00;
}

.ban-block-list {
  height: 80%;
  display: flex;
}

.ban-block-list.blue {
  background: #006;
}

.ban-block-list.red {
  background: #600;
}

.ban {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.ban-block-list.blue .ban {
  border-right-style: solid;
  border-color: #000;
  border-width: 2px;
}

.ban-block-list.red .ban {
  border-left-style: solid;
  border-color: #000;
  border-width: 2px;
}

.ban-overlay-container {
  height: 100%;
}

.ban.active-player .champion {
  z-index: 0;
  position: relative;
}

.ban.active-player .champion-placeholder {
  z-index: 0;
  position: relative;
}

.ban.active-player .ban-overlay {
  height: 100%;
  top: -100%;
  z-index: 1;
  position: relative;
  animation: fadein 0.75s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ban-block-list.blue .ban.active-player .ban-overlay {
  color: #BBF;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(50, 50, 200, 1));
}

.ban-block-list.red .ban.active-player .ban-overlay {
  color: #FBB;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(200, 50, 50, 1));
}
