.champion-block {
  height: 65%;
  display: flex;
  flex-flow: column;
}

.champion-controls {
  height: 5vmin;
  background: #999;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.75s;
}

.champion-controls.blue {
  background: #55F;
}

.champion-controls.red {
  background: #F55;
}

.champion-controls .sort-text {
  margin-left: 2.5%;
  margin-right: 1%;
  font-size: 1.75vmin;
  color: #444;
  display: flex;
  transition: all 0.75s;
}

.champion-controls.blue .sort-text {
  color: #008;
}

.champion-controls.red .sort-text {
  color: #800;
}

.champion-controls .sort-buttons {
  margin-right: auto;
  height: calc(40% - 4px);
  width: 15%;
  display: flex;
  border-style: solid;
  border-color: #222;
  border-width: 2px;
  transition: all 0.75s;
}

.champion-controls.blue .sort-buttons {
  border-color: #006;
}

.champion-controls.red .sort-buttons {
  border-color: #600;
}

.champion-controls .sort-buttons input {
  padding: 0;
  width: 100%;
  cursor: pointer;
  font-size: 1.25vmin;
  color: #777;
  background: #444;
  border-style: hidden;
  transition: all 0.75s;
}

.champion-controls .sort-buttons .disabled {
  color: #BBB;
  background: #888;
}

.champion-controls.blue .sort-buttons input {
  color: #33D;
  background: #008;
}

.champion-controls.blue .sort-buttons .disabled {
  color: #77F;
  background: #00C;
}

.champion-controls.red .sort-buttons input {
  color: #D33;
  background: #800;
}

.champion-controls.red .sort-buttons .disabled {
  color: #F77;
  background: #C00;
}

.champion-controls .role-buttons {
  margin-right: 2.5%;
  height: calc(40% - 4px);
  width: 30%;
  display: flex;
  border-style: solid;
  border-color: #222;
  border-width: 2px;
  transition: all 0.75s;
}

.champion-controls.blue .role-buttons {
  border-color: #006;
}

.champion-controls.red .role-buttons {
  border-color: #600;
}

.champion-controls .role-buttons input {
  padding: 0;
  width: 100%;
  cursor: pointer;
  font-size: 1.25vmin;
  color: #777;
  background: #444;
  border-style: hidden;
  transition: all 0.75s;
}

.champion-controls .role-buttons .disabled {
  color: #BBB;
  background: #888;
}

.champion-controls.blue .role-buttons input {
  color: #33D;
  background: #008;
}

.champion-controls.blue .role-buttons .disabled {
  color: #77F;
  background: #00C;
}

.champion-controls.red .role-buttons input {
  color: #D33;
  background: #800;
}

.champion-controls.red .role-buttons .disabled {
  color: #F77;
  background: #C00;
}

.champion-controls .search-bar {
  margin-right: 2.5%;
  height: 40%;
  width: 20%;
  display: flex;
}

.champion-controls .search-bar input {
  width: 100%;
  font-size: 1.25vmin;
  color: #999;
  background: #444;
  border-style: solid;
  border-color: #222;
  transition: all 0.75s;
}

.champion-controls .search-bar input::placeholder {
  color: #777;
  transition: color 0.75s;
}

.champion-controls .search-bar input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 1vmin;
  height: 1vmin;
  cursor: pointer;
  background: #999;
}

.champion-controls.blue .search-bar input {
  color: #55F;
  background: #008;
  border-color: #006;
}

.champion-controls.blue .search-bar input::placeholder {
  color: #33D;
}

.champion-controls.blue .search-bar input::-webkit-search-cancel-button {
  background: #55F;
}

.champion-controls.red .search-bar input {
  color: #F55;
  background: #800;
  border-color: #600;
}

.champion-controls.red .search-bar input::placeholder {
  color: #D33;
}

.champion-controls.red .search-bar input::-webkit-search-cancel-button {
  background: #F55;
}

.champion-list {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #555;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.65));
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  overflow-y: auto;
  transition: background 0.75s;
  border-style: solid hidden;
  border-color: #000;
  border-width: 2px;
}

.champion-list.blue {
  background: #008;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.65));
}

.champion-list.red {
  background: #800;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.65));
}

.champion-selection {
  margin: 1vmin;
  width: 8vmin;
  height: 10vmin;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.champion-selection .champion {
  height: 80%;
}

.champion-selection .champion-name {
  height: 20%;
  font-size: 1.5vmin;
  color: #999;
  transition: color 0.75s;
}

.champion-list.blue .champion-selection .champion-name {
  color: #55F;
}

.champion-list.red .champion-selection .champion-name {
  color: #F55;
}

.hidden-spacer {
  margin: 0 1vmin;
  width: 8vmin;
  height: 0;
}
