.champion, .champion-placeholder {
  width: 100%;
  height: 100%;
}

.champion img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.champion.cropped_splash img {
  object-fit: cover;
  object-position: 50% 25%;
}

/* Flip images horizontally for the red team */
.champion.cropped_splash.red img {
  transform: scaleX(-1);
}

.champion.icon img {
  object-fit: contain;
}
