.draft {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.center-draft-block {
  margin: 0;
  padding: 0;
  width: 60%;
  height: 100%;
  border-style: hidden solid;
  border-color: #000;
  border-width: 2px;
}

.center-draft-block-bans {
  height: calc(25% - 4px);
  display: flex;
  border-style: solid hidden;
  border-color: #000;
  border-width: 2px;
}
