.info-block {
  height: calc(10% - 4px);
  color: #999;
  background: #444;
  border-style: solid hidden;
  border-color: #000;
  border-width: 2px;
  position: relative;
  transition: all 0.75s;
}

.info-block.blue {
  color: #55F;
  background: #008;
}

.info-block.red {
  color: #F55;
  background: #800;
}

.info-block .status {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-block-controls {
  right: 0;
  margin: 0.75%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  height: 30%;
}

.info-block .undo-button {
  margin: 0 15% 0 0;
  height: 100%;
  cursor: pointer;
}

.info-block .undo-button img {
  height: 100%;
  object-fit: contain;
}

.info-block .reset-button {
  height: 100%;
  cursor: pointer;
}

.info-block .reset-button img {
  height: 100%;
  transform: rotate(-50deg);
  object-fit: contain;
}
