.light-bar {
  width: 10%;
  transition: background 0.4s;
}

.light-bar.active-team {
  width: 5%;
}

.light-bar.blue {
  background: #007;
  border-left-style: solid;
  border-color: #000;
  border-width: 1px;
}

.light-bar.blue.active-player {
  background: #00F;
}

.light-bar.blue.next-player {
  background: #00A;
}

.light-bar.red {
  background: #700;
  border-right-style: solid;
  border-color: #000;
  border-width: 1px;
}

.light-bar.red.active-player {
  background: #F00;
}

.light-bar.red.next-player {
  background: #A00;
}
