.player-block {
  margin: 0;
  padding: 0;
  width: 15%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  transition: width 0.4s;
  border-style: solid;
  border-color: #000;
  border-width: 1px;
}

.player-block.active-team {
  width: 25%;
}

.player-block.complete {
  width: 20%;
}

.player {
  height: 100%;
  display: flex;
  overflow: hidden;
  transition: height 0.5s;
  border-style: solid;
  border-color: #000;
  border-width: 1px;
}


.player.active-player {
  height: 300%;
}

.player-vertical {
  width: 100%;
}

.player.blue .player-vertical {
  background: #006;
}

.player.blue.active-player .player-vertical {
  background: #00A;
}

.player.blue.next-player .player-vertical {
  background: #007;
}

.player.red .player-vertical {
  background: #600;
}

.player.red.active-player .player-vertical {
  background: #A00;
}

.player.red.next-player .player-vertical {
  background: #700;
}

.player.active-player .champion {
  z-index: 0;
  position: relative;
}

.player.active-player .champion-placeholder {
  z-index: 0;
  position: relative;
}

.player.active-player .phase-overlay {
  height: 50%;
  top: -50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  position: relative;
  animation: fadein 0.75s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.player.active-player .phase-overlay .description {
  top: 70%;
  font-size: 3.5vmin;
  position: absolute;
}

.player.blue.active-player .phase-overlay {
  color: #BBF;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(50, 50, 200, 1));
}

.player.red.active-player .phase-overlay {
  color: #FBB;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(200, 50, 50, 1));
}
